body {
	background-color: #324856;
	font-family: 'Montserrat Subrayada', sans-serif;
	padding: 5%;
}
h1 {
	text-align: center;
	color: #D66C44;
  font-family: 'Space Mono', monospace;
	font-size: 36px;
	font-weight: bold;
	font-stretch: extended;
}
table {
    margin-left:auto; 
    margin-right:auto;
		text-align: center;
		background-color: #4A746A;
		font-size: 16px;
  }
thead {
	font-size: 24px;
	font-stretch: extended;
}
