body {
  background-color: #2A363B;
  font-family: 'Montserrat Subrayada', sans-serif;
  padding: 5%;
}
h1 {
  text-align: center;
  color: #99B898;
  font-family: 'Space Mono', monospace;
  font-size: 36px;
  font-weight: bold;
  font-stretch: extended;
}
table {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-size: 16px;
  }
thead {
  font-size: 24px;
  font-stretch: extended;
}
th {
  border: 1px solid #FCBB6D;
  border-radius: 5px;
  padding 15px;
}
tr {
  border: 1px solid #FCBB6D;
  border-radius: 5px;
  padding 15px;
}
.attribute {
  text-align: left;
  font-weight: bold;
}
.odd {
  background-color: #685D79;
  color: #FECEA8;
}
.even {
  background-color: #AB6C82;
  color: #FECEA8;
}
div {
  font-style: italic;
  color: #99B898;
  text-align: center;
}
footer {
  margin-left: auto;
  color: #99B898;
  font-style: italic;
}
ul {
  list-style-type: none;
}
ul li{
  display: inline-block;
}
